<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        div{
            width: 200px;
        
            display: inline-block;
            /*display:inline;*/
        }
    </style>
</head>
<body>
    <h2>Upload Your Files</h2>
    <hr>
    
    <div>
        <h2> Markov Chain Plot</h2>
        <form action="upload" method="post" enctype="multipart/form-data">
            <input type="file" multiple="" name="files" class="span3"><br><br>
            <input type="submit" value="Upload">
        </form>
        <br>
        <form action="plot" method="post">
            <label for="Name">X ratio:</label>
            <input type="number" name="x_ratio" id ="x_ratio" value="1">
            <br>
            <div align="left" style="position:relative;top:10px;left:65px">
                <input type="submit" value="Plot">
            </div>
        </form>

    </div>

    <div  style = "position:absolute; left:500px; ">
        <h2> Semivariance Plot</h2>
        <form action="upload" method="post" enctype="multipart/form-data">
            <input type="file" multiple="" name="files" class="span3"><br><br>
            <input type="submit" value="Upload"> 
        </form>
        <br>
        <form action="plot" method="post">
            <label for="Name">X ratio:</label>
            <input type="number" name="x_ratio" id ="x_ratio" value="1">
            <br>
            <div align="left" style="position:relative;top:10px;left:65px">
                <input type="submit" value="Plot">
            </div>
        </form>
    </div>

    <br><br>

 


    {% if img %}

    <br>
    <hr>
    <img src = "/static/images/GMSPlot.png", height="350",width="200">
    <form action="download" method="get">
        <input type="submit" value="Download">
    </form>

    {% endif %}

</body>
</html>